<canvas #canvasGrid id="canvasGrid" class="canvas-bg js-grid-canvas"></canvas>
<div class="container">
  <p>
    <canvas #canvasLogo id="canvasLogo" src="assets/tvmaster.png" alt="Portrait photo"></canvas>
  </p>
  <mat-card-title translate>Daniel Azar</mat-card-title>
  <mat-card-subtitle>
    <span>Software Engineer</span>
  </mat-card-subtitle>
  <section class="social-icons">
    <div class="container">
      <div class="text-center center-block">
        <a href="https://www.facebook.com/daniel.j.azar"
          ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i
        ></a>
        <a href="https://www.instagram.com/daniazar.sh/"
          ><i id="social-in" class="fab fa-instagram-square fa-3x social"></i
        ></a>
        <a href="https://wa.me/+5491155795814"><i id="social-wp" class="fab fa-whatsapp-square fa-3x social"></i></a>
        <a href="https://twitter.com/azardani"> <i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
        <a
          href="#"
          class="cryptedmail"
          data-name="danielazar"
          data-domain="gmail"
          data-tld="com"
          onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"
        >
          <i id="social-em" class="fa fa-envelope-square fa-3x social"></i
        ></a>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate></mat-card-title>
    </h1>
    <mat-card-content>
      <div id="bio" translate>
        I am a Software Engineer with specialization in Computer Graphics, with 10+ years of experience in the industry.
        I am currently living in Argentina but looking for opportunities anywhere in the world. Along the years I worked
        in several roles and technologies. The roles were Backend, Frontend, FullStack, IA and Devops. I worked as a
        freelance developer, at small companies with friends and as a Team Lead in a medium sized company. My hobbies
        include competitive programming and game development. For cloud I have the most experience with Azure but used
        IBM cloud, AWS and Google Cloud.. I worked mostly with the following languages and frameworks:
        <br />
        <br />
        <ul>
          <li>Java | Spring</li>
          <li>C# | .Net | Unity</li>
          <li>Javascript | Typescript | Angular</li>
          <li>Go</li>
          <li>Dart | Flutter</li>
          <li>OpenGL ES 2 | Shaders</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
    </h1>
    <mat-card-content>
      <mat-icon>code</mat-icon>
      <span translate>Version</span> {{ version }}
    </mat-card-content>
  </mat-card>
</div>
