.project {
  text-align: center;
  //padding: 1em;

  a {
    text-decoration: none;
  }
  img {
    width: 100%;
    max-width: 800px;
    height: auto;
    max-height: 600px;
  }
  .border {
    border: 5px solid black;
  }
  .smallWidth {
    max-width: 300px;
  }
  mat-card {
    padding: 5em 0px;
  }
}

.purple {
  background-color: #49125a;
}

.blue {
  background-color: #322659;
}

.dark {
  background-color: #051221;
}
