<div class="project">
  <mat-card class="purple">
    <p>
      <img class="border" src="assets/tvmaster.png" alt="TV Master" />
    </p>
    <mat-card-content>
      <mat-card-title translate>TV Master</mat-card-title>
      <mat-card-subtitle>
        <span>Typescript / Angular / Firebase / Electron / Cordova</span>
      </mat-card-subtitle>
      <p>
        A Web application to watch television channels from latin america freely online. With a responsive and easy to
        use interface. Without advertisement
      </p>
      <p><Strong>Important: Works only with Opera web browser or Chrome on Android</Strong></p>
      <mat-card-actions>
        <a
          href="https://tv.appzar.com.ar"
          target="blank"
          angulartics2On="click"
          angularticsAction="Open TV Master site"
          angularticsCategory="projects"
        >
          <button mat-raised-button>
            Open Website
            <mat-icon>language</mat-icon>
          </button>
        </a>
        <a
          href="https://github.com/daniazar/TVMaster"
          target="blank"
          angulartics2On="click"
          angularticsAction="Open TV repository"
          angularticsCategory="projects"
        >
          <button mat-raised-button>
            View code
            <mat-icon>launch</mat-icon>
          </button>
        </a>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <mat-card class="blue">
    <p>
      <img class="border" src="assets/isurfer.png" alt="iSurfer" />
    </p>
    <mat-card-content>
      <mat-card-title translate>ISurfer</mat-card-title>
      <mat-card-subtitle>
        <span>OpenGL ES 2 / Objective C</span>
      </mat-card-subtitle>
      <p>
        My thesis project, an algebraic surfaces renderer for iPhone. As the CPU was not powerfull enough at the time.
        It was implemneted using the GPU. For this it used a custom raytracer inside a Shader. to pass the surface to
        the GPU the shaders were dynamically compiled.
      </p>
      <mat-card-actions>
        <a
          href="https://youtu.be/Y3HUX5ARSs8"
          target="blank"
          angulartics2On="click"
          angularticsAction="Open iSurfer Video"
          angularticsCategory="projects"
        >
          <button mat-raised-button>
            Open Video
            <mat-icon>tv</mat-icon>
          </button>
        </a>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <mat-card class="dark">
    <p>
      <img class="smallWidth" src="assets/dreamlist.png" alt="TV Master" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Dream List</mat-card-title>
      <mat-card-subtitle>
        <span>C# / Javascript / Cordova</span>
      </mat-card-subtitle>
      <p>
        A mobile application to track your dreams. It was designed for blackberry world Store
        <mat-card-actions>
          <a
            href="hhttps://appworld.blackberry.com/webstore/content/35607888/?lang=en&countrycode=US"
            target="blank"
            angulartics2On="click"
            angularticsAction="Open Dream List"
            angularticsCategory="projects"
          >
            <button mat-raised-button>
              View code
              <mat-icon>launch</mat-icon>
            </button>
          </a>
        </mat-card-actions>
      </p></mat-card-content
    >
  </mat-card>
</div>
