<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/portrait.png" alt="Portrait photo" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </mat-card-subtitle>
      <mat-card-actions>
        <button
          mat-raised-button
          angulartics2On="click"
          angularticsAction="Click button below quote"
          [angularticsCategory]="quote"
        >
          Click me to send an Analytics event
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card>
    <mat-card-content>
      <iframe
        scrolling="no"
        style="overflow: hidden; width: 100%; height: 800px; border: none;"
        src="http://blog.appzar.com.ar/recent"
      ></iframe>
    </mat-card-content>
  </mat-card>
</div>
