<div class="container">
  <mat-card>
    <p>
      <canvas #canvasLogo id="canvasLogo" src="assets/tvmaster.png" alt="Portrait photo"></canvas>
    </p>
    <mat-card-content>
      <mat-card-title translate>Daniel Azar</mat-card-title>
      <mat-card-subtitle>
        <span>Software Engineer</span>
      </mat-card-subtitle>
      <mat-card-actions> </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card>
    <mat-card-content>
      <iframe id="blogFrame" src="https://blog.appzar.com.ar/recent"></iframe>
    </mat-card-content>
  </mat-card>
</div>
