<canvas #canvasGrid id="canvasGrid" class="canvas-bg js-grid-canvas"></canvas>
<div class="container">
  <p>
    <canvas #canvasLogo id="canvasLogo" src="assets/tvmaster.png" alt="Portrait photo"></canvas>
  </p>
  <mat-card-title translate>Daniel Azar</mat-card-title>
  <mat-card-subtitle>
    <span>Software Engineer</span>
  </mat-card-subtitle>
  <section class="social-icons">
    <div class="container">
      <div class="text-center center-block">
        <a href="https://www.facebook.com/daniel.j.azar"
          ><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i
        ></a>
        <a href="https://www.instagram.com/daniazar.sh/"
          ><i id="social-in" class="fab fa-instagram-square fa-3x social"></i
        ></a>
        <a href="https://wa.me/+5491155795814"><i id="social-wp" class="fab fa-whatsapp-square fa-3x social"></i></a>
        <a href="https://twitter.com/azardani"> <i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
        <a
          href="#"
          class="cryptedmail"
          data-name="danielazar"
          data-domain="gmail"
          data-tld="com"
          onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"
        >
          <i id="social-em" class="fa fa-envelope-square fa-3x social"></i
        ></a>
      </div>
    </div>
  </section>
</div>
<div class="container">
  <mat-card>
    <mat-card-content>
      <iframe id="blogFrame" src="https://blog.appzar.com.ar/recent"></iframe>
    </mat-card-content>
  </mat-card>
</div>
